<header class="header">
  <div class="header-container">

    <!-- LEFT : APP TITLE -->
    <div class="left-section">
      <h1 class="app-title" (click)="goHome()">Article-Publish-App</h1>
      <p class="app-subtitle">
        Register as author to publish your article
      </p>
    </div>

    <!-- RIGHT : AUTH BUTTONS -->
    <div class="right-section">

      @if (isLoggedIn) {
        <button
            class="auth-btn logout-btn"
            (click)="logout()"
            [disabled]="isLoggingOut"
            >
            {{ isLoggingOut ? 'Logging out...' : 'Logout' }}
        </button>
      } @else {
        <button class="auth-btn" (click)="goToReaderLogin()">
          Reader Login
        </button>

        <button class="auth-btn" (click)="goToAuthorLogin()">
          Author Login
        </button>

      }

    </div>

  </div>
</header>